.footer-container{
  height: 50%;
  width: 100%;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  background: rgba(0, 238, 255, 0.568);
  display: grid;
  grid-template-columns: 10% 50% 40%;
}
.footer-logo{
  height: 80%;
  margin:  0.5rem 1rem;
  width: 100%;
}
.footer-info{
  font-size: 0.8rem;
  font-weight: 200;
  margin: 0 2rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  line-height: 1.5em;
}
.footer-child2-info{
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
}
.sociallogo{
	list-style: none;
  padding-top: 20px;
  margin-top: 50px;
}
.footer-li{
  display: inline;
}
.table {
	display: table;
	margin: 0 auto;
}
.footer-img {
  height: 3rem;
  width: 3rem;
  margin: 0;
}

  /* dark mode */

  .darkfooter-container{
    height: 50vh;
    width: 100%;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    background:#0d0a30;
    display: grid;
    grid-template-columns: 10% 50% 40%;
  }