#form-section {
  width: 60%;
  margin: auto;
  height: 100vh;
  background: linear-gradient(to top left, #60cdfc91, #5ffcc293);
  background-repeat: cover;
  color: rgb(46, 46, 46);
}
  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
  }
  #signin{
    margin-top: 4rem;
  }
    .hform{
      margin: auto;
      padding: 25% auto;
    }
      .input{
        margin-bottom: 2rem;
        border-right: none;
        border-top: none;
        border-left: none;
        background-color:transparent;
        outline: none;
        color: rgb(17, 17, 17);
        caret-color: rgb(43, 43, 42);
      }
      .input-text::placeholder {
        text-align: center;
        color: rgb(17, 17, 17);
        font-family: 'Roboto', sans-serif;
      }
      .input-email::placeholder {
        text-align: center;
        color: rgb(17, 17, 17);
        font-family: 'Roboto', sans-serif;
      }
      #submitform[type=submit] {
        background: rgba(107, 107, 107, 0.2);
        width: 100%;
        padding: 2vh;
        border: none;
        cursor: pointer;
        border-radius: 4px 4px;
      }

      /* dark mode */

      #darkform-section {
        width: 60%;
        margin: auto;
        height: 100vh;
        background: linear-gradient(to top left, #002636da, #004d30dc);
        background-repeat: cover;
        color: rgb(255, 255, 255);
      }
      .darkinput{
        margin-bottom: 2rem;
        border-right: none;
        border-top: none;
        border-left: none;
        background-color:transparent;
        outline: none;
        color: rgb(255, 255, 255);
        caret-color: rgb(0, 216, 83);
      }
      .darkinput-text::placeholder {
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: 'Roboto', sans-serif;
      }
      .darkinput-text::placeholder {
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: 'Roboto', sans-serif;
      }
      .darkinput-email::placeholder {
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: 'Roboto', sans-serif;
      }
      #darksubmitform[type=submit] {
        background: rgba(36, 252, 36, 0.801);
        width: 100%;
        padding: 2vh;
        border: none;
        cursor: pointer;
        border-radius: 4px 4px;
      }