.container{
  position: sticky;
  top: 0rem;
  background-color: #ffffff;
  z-index: 5;
  box-sizing: border-box;
  margin: auto;
  height: 10%;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 50% 20% 10%;
  box-shadow: 10px;
  box-shadow: 0px 0px 8px 2px #444444;
}
img{
  margin: 0px 1rem;
  width: 6.5rem;
}
.header-list{
  display: inline-flex;
  list-style-type: none;
}
a{
  color: rgb(170, 80, 136);
  text-decoration: none;
}
a:link {
  color: rgb(0, 255, 255);
  text-decoration: none;
}
a:hover {
  color: rgb(105, 188, 255);
  text-decoration: none;
}
a:active {
  color: rgb(0, 255, 191);
  text-decoration: none;
}
li{
  padding: 10px 30px;
}
#loginButton {
  background-color: rgb(0, 214, 143);
  margin: 0.8rem;
  width: 7rem;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}
#loginButton:hover {
  background-color:  rgba(128, 255, 155, 0.836);
  cursor: pointer;
  transform: scale(1.2, 1.2);
}
#loginButton:active {
  background-color: rgb(126, 255, 115);
}
.baseline{
  border-bottom: 0.08rem solid rgba(79, 31, 211, 0.836);
  margin: 0 10px;
}
.baseline:hover{
  border-bottom: 0.12rem solid rgba(79, 31, 211, 0.836);
}
.noLoggedIn{
  height: 50vh;
  font-size: 2rem;
  font-weight: 100;
  margin: 5rem 4rem;
  padding: 10%;
  text-align: center;
  background-color: rgb(222, 184, 135);
}
.toggle{
  position: absolute;
  top: 10%;
  left: 90%;
  margin: -1.7rem 0 0 -1rem;
}


/* darktheme */
.darkbaseline{
  border-bottom: 1px solid rgba(255, 255, 255, 0.836);
  margin: 0 10px;
}
.darkbaseline:hover{
  border-bottom: 2px solid rgba(255, 255, 255, 0.836);
}
.darkcontainer{
  position: sticky;
  top: 0rem;
  background-color:#0d0a30;
  z-index: 5;
  box-sizing: border-box;
  margin: auto;
  height: 10vh;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 50% 20% 10%;
  box-shadow: 10px;
  box-shadow: 0px 0px 8px 2px #444444;
}
.darknoLoggedIn{
  height: 50vh;
  font-size: 2rem;
  font-weight: 100;
  padding: 10%;
  margin: 5rem 4rem;
  text-align: center;
  background-color: rgb(206, 180, 255);
}