.user-reactions{
  display: grid;
  grid-template-columns: auto auto;
  color: rgb(0, 17, 255);
}
.votes{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.count{
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 100;
  text-align: justify;
}
.rating-icons{
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}
.comment{
  width: 15rem;
  height: 2rem;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  background-color: rgb(194, 238, 255);
  margin: 1rem;
}
.send-comment{
  width: 5rem;
  height: 2rem;
  border-radius: 2rem;
  padding: 0rem;
  background-color: rgb(154, 255, 129);
  margin: 1rem;
  box-shadow: 0rem 0.2rem 0.2rem 0.1rem rgb(82, 82, 82);
  border: none;
}
.send-comment:hover{
  background-color: #fff;
}
.send-comment:active{
  background-color:  rgb(154, 255, 129);
  border:none;
}
.displayComment{
  width: 90%;
  height: 3rem;
  margin: 0rem;
  border-radius: 0.5rem;
  list-style: none;
  overflow-x: hidden;
}
.comment-li{
  margin: 0rem;
}